<div class="count">
    <div class="count_container">
         
        <div class="card">
            <div class="salary"><span class="card_salary">71,028</span> EGP</div>
            <div class="value"> Total Value</div>
            <div class="salary_avrage">
                <div class="arrow-down"></div>
                2 %</div>
        </div>
        
        <div class="card card_f">
            <div class="salary"><span class="card_salary">20,000</span> m³</div>
            <div class="value">Total Sales</div>
            <div class="salary_avrage blue">
                <div class="arrow-up"></div>
                50 m³</div>
        </div>
        <div class="card card_f">
            <div class="salary"><span class="card_salary">20,000</span> m³</div>
            <div class="value">Avg Sales</div>
            <div class="salary_avrage">
                <div class="arrow-down"></div>
                50 m³</div>
        </div>
        <div class="card card_f">
            <div class="salary"><span class="card_salary">1567</span> </div>
            <div class="value">Total Transaction Count</div>
            <div class="salary_avrage blue">
                <div class="arrow-up"></div>
                20 </div>
        </div>
    </div>
</div>