<section class="nav">
    <div class="nav_container">
        <div class="stations_container">
            <div class="Monitored_stations">
                <div class="ico">
                    <img src="../.../../../assets/images/navbar/gas-station-svgrepo-com.svg" alt="">
                </div>
                    <div class="count">2/3</div>
                    <div class="stations_title">Monitored
                        <br>
                        Stations</div>
                
            </div>
            <div class="Monitored_stations Last_update">
                <div class="ico">
                    <i class="fa-solid fa-rotate-right fa-xl"></i>
                </div>
                    <div class="count">20s</div>
                    <div class="stations_title">Last 
                        <br>
                        Update</div>
                
            </div>
        </div>
        <div class="hest_container">
            <div class="sub_nav">
                <div class="sub_nav_container">
                    <p class="active">today</p>
                    <p class="">YESTERDAY</p>
                    <p class="end_btn">LAST WEEK</p>
                </div>
            </div>


        </div>
        <div class="date_container">
                <div class="date">
                    <p>Start date - time</p>
                    <p class="ico"><i class="fa-regular fa-calendar"></i></p>
                </div>
                <div class="end_date">
                    <p>End date - time</p>
                    <p class="ico"><i class="fa-regular fa-calendar"></i></p>
                </div>
        </div>
    </div>
</section>
