<div class="side_bar">
    <div class="side_container">
        <div class="side_open">
            <img src="../../assets/images/sidebar/PMS.svg" alt="">
        </div>
        <div class="side_pages">
            <div>
            <button>
                <a routerLink="/control">
                <img src="../../assets/images/sidebar/control-room.svg" alt="">
            </a>
            </button>
        </div>
        <div>
            <button>
                <a routerLink="/dashboard">
                <img src="../../assets/images/sidebar/dashboard.svg" alt="">
            </a>
            </button>
        </div>
        <div>
            <button>
                <a routerLink="/elements">
                <img src="../../assets/images/sidebar/elements.svg" alt="">
            </a>
            </button>
        </div>
        <div>
            <button>
                <a routerLink="/settings">
                <img src="../../assets/images/sidebar/settings.svg" alt="">
            </a>
            </button>
        </div>
        <div>
            <button>
                <a routerLink="/notifications">
                <img src="../../assets/images/sidebar/notifications.svg" alt="">
            </a>
            </button>
        </div>
           
            

        </div>
        <div class="side_open">
            <button>
                <a routerLink="/logout">
                <img src="../../assets/images/sidebar/logout.svg" alt="">
                </a>
            </button>
        </div>
    </div>
</div>
