<div class="tab_chart">
    <p-tabView>
        
        <p-tabPanel header="SALES">
            
            <div class="card">
                <p-chart  type="bar" [data]="data" [options]="options"></p-chart>
            </div>
        </p-tabPanel>
        <p-tabPanel header="TRANSACTION">
            <div class="card">
                <p-chart  type="bar" [data]="data" [options]="options"></p-chart>
            </div>
        </p-tabPanel>
        <p-tabPanel header="VALUE">
            <div class="card">
                <p-chart  type="bar" [data]="data" [options]="options"></p-chart>
            </div>
        </p-tabPanel>
        <p-tabPanel header="COMPRESSION">
            <div class="card">
                <p-chart  type="bar" [data]="data" [options]="options"></p-chart>
            </div>
        </p-tabPanel>
      
    
    </p-tabView>  
</div>
  
